
.parent{
    background-color: cadetblue;
    height: 450vh;
    width: 100vw;
    display: flex;
}
.child1{
    background-color: brown;
    height: 120%;
    width: 15%;
}
button{
    color:purple;
    background-color: peru;
}
.child2{
    align-items: center;
    height: 100%;

}

